*{
		font-family: 'Rubik', sans-serif;
}
header{
	background-color: #3b5998;
}
h1{
	color: white;
	padding-bottom: 0.5em;
	margin-left: 1em;
}
.login-form {
    width: 340px;
    margin: 50px auto;
    size: 100vh;
   }

